@use "../custom" as *;

.companies {
  padding: 0 0 5rem 0;

  &__heading {
    font-weight: 600;
    margin-top: 7rem;
    margin-bottom: 2rem;
    color: $text-blue;
    font-size: 1rem;
  }

  &__logo-box {
    max-width: 100%;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;

    img {
      height: 100%;

      &:hover {
        cursor: pointer;
        filter: grayscale(1);
      }
    }
  }
}
