@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
  font-family: "Poppins", sans-serif;
  background-color: $white;

  li {
    padding: 0 0.7rem;

    a {
      color: $black !important;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
}
